@import "tailwindcss";

@theme {
 --color-primary: #2563eb;
  --color-secondary: #f8fafc;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
 background-color: white !important; 
  color: #0f172a;
}